// Import Google fonts
@import url("https://fonts.googleapis.com/css?family=Poppins:200");

@font-face {
  font-family: 'Font Name';
  src:font-url( asset_path('webfonts/3949EE_0_0.eot'));
  src:font-url( asset_path('webfonts/3949EE_0_0.eot?#iefix')) format('embedded-opentype'),
    font-url( asset_path('webfonts/3949EE_0_0.ttf')) format('truetype'),
    font-url( asset_path('webfonts/3949EE_0_0.woff')) format('woff'),
    font-url( asset_path('webfonts/3949EE_0_0.svg')) format('svg');
  font-weight: normal;
  font-style: normal;
}

$body-font: 'Poppins', sans-serif;
$headers-font: 'Poppins', sans-serif;


h1, h2, h3, h4, h5, a, label, #select-planning, #select-planning-nav, #select-cgv {
  font-family: "Font Name" !important;
}


h4 {
  font-size: 16px;
}


pre {
  font-family: 'Poppins', sans-serif !important;
  font-size: 17px;
  border: none !important;
  overflow: visible;
  white-space: pre-line;
  background: transparent !important;
}

.menu-links-footer, #select-planning, #select-cgv, .event-card-content {
  font-family: 'Poppins', sans-serif !important;
}
