// Import Google fonts
// @import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Raleway:400,100,300,700,500");
// @import url("https://fonts.googleapis.com/css?family=ZCOOL+KuaiLe");


// @font-face {
//   font-family: "Font Name";
//   src: url(assets/ZCOOLKuaiLe-Regular.ttf) format("truetype");
// }



$body-font: 'Playfair Display', serif !important;
$headers-font: 'Playfair Display', serif !important;
// $body-font: 'Font Name';
// $headers-font: 'Font Name';
// $body-font: 'ZCOOL KuaiLe', cursive;
// $headers-font: 'ZCOOL KuaiLe', cursive;;




body {
  font-family: "Font Name" !important;
}


h4 {
  font-size: 16px;
}


pre {
  font-family: 'Playfair Display', serif !important;
  font-size: 17px;
  border: none !important;
  overflow: visible;
  white-space: pre-line;
}
