// Import Google fonts
// @import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Raleway:400,100,300,700,500");
// $body-font: 'Playfair Display', serif;
// $headers-font: 'Playfair Display', serif;



@font-face {
  font-family: "Font Name";
  src: font-url('DK_Lemon_Yellow_Sun.otf') format('truetype');
}
// $my-font: "Font Name";

body {
  font-family: "Font Name" !important;
}


pre {
  font-family: 'Playfair Display', serif !important;
  font-size: 17px;
  border: none !important;
  overflow: visible;
  white-space: pre-line;
}
