@media (max-width: 1026px) and (min-width: 1023px) and (max-height: 1367px) and (min-height: 1365px) {

  .banner {
    height: 30vh !important;
  }

  .lessons-overview {
    height: 30vh !important;
  }

  .show-container {
    min-height: 30vh !important;
    padding: 0px 20px 20px 20px !important;
  }

  .product-container {
    min-height: 10vh !important;
    height: 30vh !important;
  }

  .root-show {
    padding: 20px 0px 0px 20px !important;
  }

  .more-infos {
    min-height: 43vh !important;
  }

  .cart_item-container {
    min-height: 78vh !important;
  }

  .card-dispatch-lesson {
    width: 340px !important;
  }

}


@media (max-width: 1150px) {

  .more-infos {
    padding: 40px 20px 0px 20px !important;
  }

  .show-container {
    padding: 0px 80px 20px 80px !important;
  }

  .announcement-wrapper {
  margin: 0px 0px 0px 0px !important;
  text-align: center;
  }

  .card-container-lesson {
    flex: 2 !important;
  }
  .event {
    flex: 1 !important;
  }

  .card-dispatch-lesson {
    width: 48% !important;
  }

  .logo__link {
    font-size: 20px !important;
  }

  #sezaneMenu_rptMenu_liMenu_0 {
    font-size: 1.2rem !important;
  }

  .stage {
    transform: scale(0.9) !important;
  }
}

@media (max-width: 1050px) {
  //   .stage {
  //   transform: scale(0.8) !important;
  // }

  .events {
    margin: 0px !important;
  }
}

@media (max-width: 950px) {

    .tessa-wrapper {
    flex-direction: column;
  }

    .card-dispatch-lesson {
    width: 90% !important;
  }
  .card-container-lesson {
    flex: 1 !important;
  }
  .event {
    flex: 1 !important;
  }


}

@media (max-width: 850px) {

  .show-container {
    padding: 0px 20px 20px 20px !important;
  }
    .stage {
    transform : scale(1) !important;
    margin: 0px 80px !important;
  }

  .announcement-wrapper {
    overflow: scroll;
    margin: 0px !important;
    text-align: end !important;
  }
}



@media (max-width: 800px) {


  .about {
    flex-direction: column-reverse !important;
    .main-title {
      display: none;
    }
  }

  .pedagogy {
    margin-top: 10px !important;
    padding: 20px !important;
  }

  .tessa {
    padding: 20px !important;
    margin-top: 50px !important;
    margin-bottom: 20px !important;
  }
  .card-container-lesson {
    flex: 1 !important;
  }
  .event {
    flex: 1 !important;
  }
  .card-dispatch-lesson {
    width: 90% !important;
  }

  .filter-button {
    font-size: 17px !important;
  }

  .email {
    font-size: 12px !important;
  }

    .footer-wrapper {
    flex-direction: column !important;
    padding: 20px 10px !important;
  }

  .footer-contact {
    text-align: -webkit-right;
    div {
    }
  }

  .footer-location, .footer-menu, .footer-contact, .footer-ouverture {
    margin: 0px 0px 20px 0px !important;
    width: 100% !important;
    text-align: center !important;
  }

  .footer-credit {
    padding: 0px 60px 0px 60px !important;
  }
}


// @media (max-width: 600px) {

//   #sezaneMenu_rptMenu_liMenu_0 {
//     font-size: 1.1rem !important;
//   }
// }


@media (max-width: 800px) {

  .footer-credit {
    padding: 0px 40px 0px 40px !important;
  }

  .gallery-pic {
  img {
    height: 120px !important;
    }
  }


  .news {
    width: 70% !important;
  }

  .quote.end {
    margin-left: 230px !important;
  }

  .fa.fa-sign-out {
    // padding: 8px 40px 8px 0px !important;
    margin: 8px 0px;
  }

  .dropdown-menu > li > a {
    padding: 8px 20px !important;
  }

  .dropdown-menu {
    min-width:  200px !important;
  }

  .shopping-nav {
    margin: auto 0px !important;
    justify-content: flex-end !important;
    background-image: url('https://res.cloudinary.com/dw7nokc0j/image/upload/v1555403885/menu.png') !important;
  }

  .shopping-nav.transparent {
    margin: auto 0px !important;
    justify-content: flex-end !important;
    background-image: url('https://res.cloudinary.com/dw7nokc0j/image/upload/v1555403885/menu.png') !important;
  }

  .quote {
    font-size: 20px !important;
  }
  .split {
    display: flex !important;
    flex-direction: column !important;

    h1 {
      font-size: 40px !important;
    }
    p{
      margin: 0px auto 0px auto !important;
      position: initial !important;
      font-size: 14px !important;
    }
    button {
      position: initial !important;
      margin: 20px auto !important;
      font-size: 16px !important;
    }
  }

  .news {
    // line-height: 18px !important;
  }

  .button-infos {
    margin: 10px 0px 10px 38% !important;
  }

  .header-item {
    margin: auto 0px !important;
  }

  #header {
    height: 65px !important;
  }

  .logo__link {
    display: inline-block;
    height: 45px !important;
    width: 113px !important;
    // img {
    //   height: 35px !important;
    //   width: 112px !important;
    // }
  }

  .wrapper-registration {
    margin: 0px !important;
    padding: 40px 20px !important;
  }


  .selector-arrow {
  // visibility: visible !important;
  display: flex;
    span {
      margin: auto
    }
  }

  .results-container {
    display: none;
  }


  .logo__link {
    display: inline-block;
    font-size: 22px !important;
  }

  .burger-phone {
    display: inherit !important;
    padding-left: 24px !important;
    padding-right: 10px !important;
    margin-top: 0 !important;
  }

  .open > .dropdown-menu > li > a {
    background: #cecece63;
  }

  #header{
    justify-content: space-between;
    z-index: 30000000;
  }


  #header-menu{
    // margin-right: 10px !important;
  }


  .logo__link {
    display: inline-block;
    font-size: 17px !important;
  }

  .logo {
  }

  .menu {
    display: none !important;
  }

  .main-title {
    font-size: 30px !important;
  }

  // .banner {
  //   height: 40vh !important;
  // }

  .announcement {
    width: 100% !important;
  }

  .announcement-wrapper {
    overflow: scroll;
    margin: 0px !important;
    text-align: end !important;
  }

  .stage {
    justify-content: start !important;
    text-align: center !important;
    width: 100% !important;
    display: inline-flex !important;
    margin-left: 0px !important;
  }

  .lessons-overview {
    margin: 0px !important;
    height: 50vh !important;
  }

  .overview-selectors {
    overflow: scroll;
    height: 70px;
    bottom: 0px !important;
  }

  .overview-selectors > a {
    border-right: none !important;
    margin-right: 10px !important;
    height: 56px !important;
  }

  .overview-button > p {
    font-size: 16px !important;
    bottom: 0px !important;
    border: solid 0.5px;
    padding-bottom: 0px !important;
  }

  .overview-button {
    min-width: 120px !important;
    height: 64px !important;
    border-right: none !important;
    margin: 0px 4px !important;
  }

  .overview-button.upper {
    border-right: none !important;
    p {
    border-radius: 2px !important;
    margin-bottom: 10px !important;
    }
  }

  .overview-content {
    padding-top: 8px !important;
    padding-left: 8px !important;
    padding-right: 0 !important;
  }

  .content-switch > h3 {
    margin: 0 !important
  }

  .content-switch > p {
    margin: 20px 20px 20px 0px !important;
  }

  .empty {
    flex: 0 !important;
  }

  .quantity-item {
    flex: 4.5 !important;
  }

  .about {
    flex-direction: column-reverse !important;
    .main-title {
      display: none;
    }
  }

  .pedagogy {
    margin-top: 10px !important;
    padding: 0 !important;
  }

  .tessa {
    padding: 0px !important;
    margin-top: 50px !important;
    margin-bottom: 20px !important;
  }


  .avatar-tessa > img {
    width: 80px !important;
    height: 80px !important;
  }


  .show-container {
    padding: 0 !important;
  }

  .product-container {
    display: flex;
    flex-direction: column !important;
    padding-top: 10px !important;
  }

  .product-image {
    height: 30vh !important;
    width: 100% !important;
    margin: 0px !important;
  }


  .product-description {
    width: 100% !important;
    padding: 12px 12px 12px 12px !important;
  }

  .more-infos {
    width: 100% !important;
    padding-top: 20px !important;
    padding-left: 20px !important;
    margin-bottom: 20px !important;
  }

  .infos-list {
    // text-align: center !important;
  }

  .infos-list > li {
    margin: 0px 4px 0px 0px !important;
  }

  .root-show {
    padding-left: 10px !important;
  }

  .summary-empty {
    flex: 0 !important;
  }

  .button-checkout {
    display: block !important;
    margin-top: 50px !important;
    margin-right: 0px !important;
  }

  .summary-checkout {
    width: 100% !important;
  }

  .card-cart_items {
    padding: 10px 0px 0px 0px !important;
  }

  .cart_item-container {
    padding: 0px 20px 20px 20px !important;
    min-height: 80vh;
  }

  .events {
    h3 {
      // display: none !important;
    }
    .slider {
      display: none !important;
    }
    a {
      // display: none !important;
    }
  }

  .card-container-lesson {
    padding-top: 10px !important;
  }

  .panier-vide-container {
    padding: 0px !important;
    height: 50vh !important;
  }

  .button-checkout span {
    margin: 0px !important;
  }

  .cart_item-container {
    min-height: 10vh !important;
  }

  .cart-form {
    padding: 0px 0px 0px 20px !important;
    margin: 0px !important;
  }

  .cart-wrapper {
    flex-direction: column !important;
    margin-bottom: 20px !important;
  }

  .cart-wrapper.reverse {
    flex-direction: column-reverse !important;
  }

  .billing-form .btn {
    margin-bottom: 20px !important;
  }

  #stripe-checkout {
    min-height: 40vh !important;
  }






  .main-container {
    display: flex;
    flex-direction: column-reverse;
    margin: 0 !important;
    // margin-top: 20px !important;
  }

  .card-container-lesson {
    justify-content: center !important;
  }


  .filter-for-lesson {
    display: block !important;
    margin-top: 30px !important;
  }

  .filter-button {
    padding-top: 10px !important;
    padding-bottom: 1px !important;
  }

  .actived-filter {
    width: 80% !important;
    margin: 0px !important;
  }

  .events {
    // display: none !important;
    width: 100% !important;
    padding: 10px !important;
    margin: 0 !important;
    margin-bottom: 10px !important;
    position: static !important;
    // background-color: #fdfdfdbd !important;
    .slider {
      width: 100% !important;
      overflow: scroll !important;
      border: none !important;
    }

    h3 {
      // font-size: 22px !important;
    }

    ul {
      display: inline-flex !important;
      // overflow: scroll !important;

      li {
        width: 250px !important;
        margin: 0px 5px !important;
        border: solid 0.1px #cecece63;

        p {
          // margin: 0 !important;
        }
      }
    }
  }

}


@media (max-width: 550px) {

    .stage.centered {
    justify-content: left !important;
  }
}

@media (max-width: 350px) {

  .more-infos {
    padding: 40px 10px 0px 10px !important;
  }

}






@media (max-width: 1150px) {
  // .logo__link {
  // display: inline-block;
  // font-size: 22px;
  // }
}

@media (max-width: 1130px) {
  .lessons-overview {
    height: 50vh;
    position: relative;
    background-size: cover;
    margin: 16px 0px 0px 0px;
  }

  .main-container {
    margin: 16px 0px 0px 0px;
  }

  .card-dispatch-lesson {
  }
}

@media (max-width: 1100px) {
  .packer {
    margin-top: 100px;
  }
  .product-container {
    // height: 80vh;
    padding-top: 30px;
    width: 90%;
  }
  .button-show, .button-show-phone {
    font-size: 13px;
  }
  .show-container {
    padding: 0px 20px 20px 20px;
    margin-top: 110px
  }
}

// @media (max-width: 990px) {
//     .card-dispatch-lesson {
//     transform: scale(0.85)
//   }
// }


// @media (max-width: 980px) {
//     .card-dispatch-lesson {
//     transform: scale(1)
//   }
// }

@media (min-width: 1600px) {

    .main-container {
    margin: 10px auto 0px auto !important;
    max-width: 1500px;
  }

}

