<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2>Bonjour,</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam iusto vero, neque veniam ipsam facilis ullam sed quibusdam hic reiciendis iure consequatur, vitae quisquam, recusandae tempore illo. Inventore cumque, voluptate?<br>
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. At placeat nam temporibus, a inventore sequi, excepturi quo rerum nihil atque id mollitia accusantium aliquam dolor ipsam. Tempore aut ad vero.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
