<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Bonjour <%= @user.first_name.capitalize %>,</p>
    <p>
      Les pièces que vous avez modelées ou tournées à l'atelier sont prêtes, vous pouvez passer les chercher mardi, mercredi ou jeudi de 20h à 22h ou le samedi de 10h30 à 13h/14h30-19h. <br>
      <strong>Je vous remercie de me prévenir de votre passage par sms</strong> pour que le puisse les préparer, au <strong>06 63 48 79 81</strong>.
    </p>
    <p>
      Bien cordialement
    </p>
    <p>
      Tessa
    </p>
    <p>
      PS: les pièces sont conservées pendant 2 mois à partir de la date de ce courriel . Passé cette date, elles sont données ou détruites
    </p>
  </body>
</html>
