.cart-wrapper {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 80px;
  // background-color: rgba(236,236,236,1);
  background-color: #ebebeb;
  display: flex;
}

.cart-form {
  flex: 2;
  padding: 30px 130px 30px 30px;
  background-color: white;
  margin: 20px;
}

.cart-summary {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 20px 20px 100px 20px ;
  background-color: white;
  flex: 1;
  padding: 30px ;
  .cart-icon {
    border-radius: 8px !important;
    margin: 8px 8px 8px 0px;
    height: 80px;
    width: 80px;
    border-radius: 1%;
  }
}

.billing-form {
  display: block;
  input {
    padding-left: 5px;
  }
  label {
    margin-top: 5px;
  }
  .btn {
    margin-top: 20px;
    border: none;
  }
}

#stripe-checkout {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center !important;
  background: red;
  min-height: 70vh;
  border-radius: 2px;
  background-color: transparent;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.ref-gift {
  cursor: pointer;
  text-decoration: none;
}

.ref-gift:hover {
  text-decoration: underline;
}
