.cart-wrapper {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 80px;
  // background-color: rgba(236,236,236,1);
  background: transparent;
  display: flex;
}

.cart-form {
  border-radius: 6px;
  flex: 2;
  padding: 30px 30px 30px 30px;
  background-color: white;
  margin: 20px;
  max-height: 600px;
  position: sticky;
  top: 90px;
}

.cart-summary {
  border-radius: 6px;
  height: fit-content;
  position: relative;
  margin: 20px 20px 20px 20px ;
  background-color: white;
  flex: 1;
  padding: 30px ;
  .cart-icon {
    border-radius: 8px !important;
    margin: 8px 8px 8px 0px;
    // height: auto;
    height: 200px;
    width: 50%;
    border-radius: 4px;
    object-fit: cover;
  }
}

.font-weight-bold.bottom {
  // position: absolute;
  // float: right;
  font-size: 30px;
  bottom: 10px;
}

.billing-form {
  display: block;
  input {
    padding-left: 5px;
  }
  label {
    margin-top: 5px;
  }
  .btn {
    margin-top: 20px;
    border: none;
  }
}

#stripe-checkout {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center !important;
  background: red;
  min-height: 70vh;
  border-radius: 2px;
  background-color: transparent;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

.ref-gift {
  cursor: pointer;
  text-decoration: none;
}

.ref-gift:hover {
  text-decoration: underline;
}

.btn.cart-button{
  background: #c28d65;
  border-radius: 6px;
  color: white;
}
.progress-wrapper {
    opacity: 0.8;
    padding: 120px 20px 40px 20px;
    display: inline-flex;
    justify-content: center;
    width: 100%;
    font-size: 15px;
  }
  .progress-round {
    opacity: 0.2;
    padding: 4px 8px;
    height: 30px;
    /*width: 30px;*/
    border-radius: 8px;
    background: grey;
  }
  .progress-square {
    opacity: 0.2;
    margin: auto 0px;
    height: 2px;
    width: 100px;
    background: grey
  }
  .active-step {
    color: white;
    opacity: 1;
    background-color: #c28d65;
  }
  .confirm-infos {
    display: flex;
    flex-direction: row;
  }
  .cart-form.confirmation {
    display: flex;
    flex-direction: column;
  }
  .confirm-infos-section {
    min-width: 240px;
  }


@media (max-width: 900px) {
  .confirm-infos {
    flex-direction: column !important;
  }
  .confirm-infos-section {
    margin-bottom: 8px;
    min-width: 240px;
    font-weight: 900;
    font-size: 18px;
  }
  .cart-summary {
    margin: 20px 0px;
  }
}
