.card-content-event {
  img {
    height: 400px;
    width: 400px;
  }
}

.card-wrapper-event {
  text-align: -webkit-left;
  width: 400px;
  margin: auto;
}

.events {
  flex: 1;
  padding: 4px 0px 0px 0px;
  text-align: -webkit-center;
  max-height: 80vh;
  margin: 0px 0px 10px 20px;
  position: -webkit-sticky;
  position: sticky;
  top: 80px;

  h3 {
    // margin-top: 2px;
  }
  a {
    margin-top: 10px;
  }
  h4 {
    // margin-bottom: 3.5px;
  }
}

.events.sticked {
  position: relative;
}



.slider {
  ul {
    padding: 8px 16px;
    background: #ebebeb;;
    border-radius: 8px;
    div {

      a {
        margin-top: 0px;
        font-size: 16px;
        line-height: 1.1;
        color: #469AE0 !important;
      }
      a:hover {
        text-decoration: underline !important;
      }
    }
    h5 {
      margin-top: 0px;
      text-align: left;
    }
    li {
      display: inline-flex;
      justify-content: flex-end;
      width: 100%;
      // padding: 0px 10px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      border-radius: 8px;
      // padding-top: 4px;
      background-color: white;
      margin-bottom: 6px;
      div {
        h4 {
          font-size: 16px;
          margin-bottom: 2px !important;
        }
      }
    }
  }
}

.event-nav {
  margin-bottom: 4px;
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
}

.event-card-content {
  margin: auto;
  font-family: "Font Name" !important;
}

.event-card-pic {
}

.event-pic {
  height: 100%;
  width: 60px;
  border-radius: 0px 8px 8px 0px;
  // text-align: end;
}

.events-index {
  position: absolute;
  padding-top: 20px;
  top: 80px;
  left: 0px;
}

.event-date {
  h4 {
    color: $tessa;
  }
}
