.form-container{
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

.product-form {
  width: 50%;
  margin-top: 80px;
}

.form-check {
  display: inline-flex;
  width: 100%;
  // align-items: center;
}

#lesson_adult, #lesson_child, #lesson_phone_booking, #lesson_payable, #lesson_online_booking, #lesson_gift_card  {
  width: 5%;
}

.button-container {
  margin: 40px;
}
