.show-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0px 160px 20px 160px;
  margin-top: 80px;
}
.root-show {
  width: 100%;
  align-self: flex-start;
  padding: 10px 0px 0px 20px;
}

.fas.fa-chevron-circle-left {
  color: rgba(202, 120, 103, 0.8);
  font-size: 22px;
}

.product-container {
  display: flex;
  // justify-content: space-between;
  // height: 50vh;
  width: 100%;
  // height: 50vh;
  padding-top: 30px;
  min-height: 60vh;
}


.product-image {
  width: 50%;
  // background-image: url("enfants.jpg");
  // background-size: cover;
  margin: 20px;
  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.product-description {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 12px 12px 12px 50px;
  // border-left: 0.55px solid rgba(0, 0, 0, 0.7);
  p {
    margin-top: 10vh;
    margin-left: 10px;
    margin-right: 10px;
  }
}

.description-title {
  font-size: 24px;
  h1, h2{
    margin-left: 4px;
  }
}

.description-category {
  font-size: 20px;
  color: gray;
}

.description-content {
  font-size: 16px;
}

.price-show {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: end;
}


.btn {
      border: none;
    padding: 7px;
}
.cart {
  // display: flex;
  width: 100%;
  justify-content: space-between;
  padding-bottom: 10px;
  .quantity {
  flex: 1;
  }
  .button {
  flex: 1;
  .btn {
    border: none;
    padding: 7px;
  }
  }
}

.quantity {
  position: relative;
  width: 50%;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button
{
  -webkit-appearance: none;
  margin: 0;
}

input[type=number]
{
  -moz-appearance: textfield;
}

.quantity input {
  width: 100%;
  height: 42px;
  line-height: 1.65;
  float: left;
  text-align: center;
  display: block;
  padding: 0;
  margin: 0;
  border: 1px solid #eee;
}

.quantity input:focus {
  outline: 0;
}

.quantity-nav {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  align-items: center;
  width: 100%;
  height: 42px;
}

.quantity-button {
  cursor: pointer;
  width: 50%;
  text-align: center;
  color: #333;
  font-size: 16px;
  line-height: 1.7;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
.quantity-button.quantity-down {
  height: 100%;
  line-height: 1.7;
  }
.quantity-button.quantity-up {
  height: 100%;
  line-height: 1.7;
  }
}

.button-show, .button-show-phone {
    font-size: 14px;
  }


.more-infos {
  width: 70%;
  padding-top: 40px;
}

.infos-list {
  text-align: start;
  padding: 0 !important;
  margin-bottom: 40px;
}

.infos-list>li {
  display: inline;
  a{
    margin: 0px 10% 0px 0px;
    font-size: 18px;
    padding-top: 8px;
    padding-bottom: 16px;
    border-top: solid 3px #d28b80;
    color: rgba(0, 0, 0, 0.35);
  }
}



