.tessa-wrapper {
  display: flex;
  margin-bottom: 20px;
  .tessa-inner {
    flex: 1;
    padding: 0px 40px;
  }
}

.gallery-pic-wrapper {
  display: inline-flex;
  flex-wrap: wrap;
  width: 100%;
}

#cc-m-imagesubtitle-image-10178090371 {
  height: 200px;
}

#cc-m-imagesubtitle-image-10460340571 {
  width: 100%;
  max-width: 500px;
}

.gallery-pic {
  width: 50%;
  img{
    width: 100%;
    padding: 2px;
  }
}
