<div class="field-unit__label">
  <%= f.label field.attribute %>
</div>
<div class="field-unit__field">
  <%= f.select(field.attribute, ["", "Atelier enfants", "Atelier adultes", "Découverte", "Atelier libre", "Stage"]) %>
</div>
