h1 {
  font-size: 20px;
  margin-bottom: 50px;
  margin-top: 30px !important;
  text-align: center;
}

h2{
  margin-top: 0px;
}

a {
  text-decoration: none !important;
  color: black !important;
}

body {
  background-color: #F7F7F7;
  // min-height: 101vh
}

input {
  border-radius: 8px;
}

.main-title {
  font-size: 34px;
  color: #cecece;
}
