h1 {
  font-size: 20px;
  margin-bottom: 50px;
  margin-top: 50px !important;
  text-align: center;
}

a {
  text-decoration: none !important;
  color: black !important;
}

body {
  background-color: #F7F7F7;
  min-height: 101vh
}

.main-title {
  font-size: 40px;
  color: #cecece;
}
