h1 {
  font-size: 20px;
  margin-bottom: 50px;
  margin-top: 30px !important;
  text-align: center;
}

h2{
  margin-top: 0px;
}

a {
  text-decoration: none !important;
  color: black !important;
}

a.no-style {
  color: inherit !important;
}

body {
  background-color: $tessa-white;
  // min-height: 101vh
}

input {
  border-radius: 8px;
}

.main-title {
  font-size: 34px;
  color: #cecece;
}

// SLICK CONFIG

.list-carrousel.slick-initialized.slick-slider{
  height: 100% !important;
  width: 100% !important;
  margin: auto !important;
  background: white;
  display: flex;
}

.slick-list.draggable{
  margin: auto;
  background: #f9f9f9;
  height: 100% !important;
}

.slick-track{
  height: 100% !important;
}

.slick-slide {
  height: 100%;
  width: 100%;
  div{
    height: 100%;
  }
}

.slick-arrow {
  height: 30px !important;
  z-index: 200000 !important;
  position: absolute !important;
  top: 240px !important;
  @media (max-width: 800px) {
    top: calc(35% + 30px) !important;
  }
}

.slick-next {
  right: 0 !important;
  width: auto !important;
  background: transparent !important;
  border: none !important;
}

.slick-prev {
  left: 0 !important;
  width: auto !important;
  background: transparent !important;
  border: none !important;
}

.flex {
  display: flex;
}

.text-align-center {
  text-align: center;
}
