pre {
  padding: 0px 20px 0px 0px !important;
}

.gift-infos {
  margin-top: 70px;
  text-align: -webkit-center;
}

.filter-for-lesson {
  display: flex;
  text-align: -webkit-center;
  position: relative;
  .toggle-filters{
    display: none;
    position: absolute;
    right: 10px;
    top: -20px;
  }
}

.filter-button{
  flex: 1;
  font-size: 20px;
  position: relative;
  // border-right: solid 0.4px rgba(249, 249, 249, 0.5);
  padding-top: 15px;
  border-radius: 0px 0px 8px 8px;
  transition: all 0.5s;
  // border: solid 1px #dcdcdc;
  margin-top: -10px;
  // background: #ebebeb;
  // box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  h1{
    padding-top: 12px !important;
    padding-bottom: 12px !important;
    font-size: 24px !important;
    margin: 0px !important;
    display: flex;

    a{
      width: 100%;
      height: 100%;
    }
  }


}

.actived-filter {
  margin: 5px 0px 16px 0px;
  background: #ebebeb;
  border-radius: 10px;
  position: relative;
  padding: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.actived-filter.no-background {
  background: transparent !important;
  opacity: 0.5 !important;
}

.filter-button.actived {
  background: white;
  font-weight: 600;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  p > a {
    opacity: 0.7;
  }
}

.filter-button:hover {
  background: white;
  z-index: 10000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  a {
  cursor: pointer;
  }
}

.delete-filter {
  position: absolute;
  top: -13px;
  right: -10px;
  background-color: rgba(202, 120, 103, 0.8);
  border-radius: 50%;
  height: 27px;
  width: 26px;
  transform: scale(0.6);
  color: white;
  font-weight: 600;
  a {
    color: white !important;
    }
}

