// https://colorhunt.co/palette/134510

.packer {
  margin-top: 90px;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 1%;
}

.packer-lesson {
  margin-top: 90px;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 1%;
  display: flex;
  flex-direction: row-reverse;
}

.slide {
  display: flex;
  justify-content: center;
  // background-image: url("https://images.unsplash.com/photo-1487088678257-3a541e6e3922?ixlib=rb-1.2.1&auto=format&fit=crop&w=667&q=80")
}

.search-product {
  height: 50px;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  .form-control {
    width: 25rem;
    border: 1px solid #EBEBEB;
    border-radius: 1%;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    font-weight: lighter;
  }
  .search-submit input {
    text-decoration: none;
    border: none;
    height: 39px;
    margin-left: 20px;
    padding: 6px 12px;
    font-size: 18px;
    line-height: 1.42857;
    font-weight: lighter;
    color: white;
    background-color: rgba(202, 120, 103, 0.8);
    border-radius: 1%;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    text-decoration: none;
    letter-spacing: .1rem;
  }
  .dropbtn {
    background-color: rgba(202, 120, 103, 0.8);
    border: none;
    font-weight: lighter;
    color: white;
    height: 39px;
    padding: 6px 12px;
    margin-left: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    text-decoration: none;
    letter-spacing: .1rem;
    border-radius: 1%;

  }
}

.search-lesson {
  width: 30%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;
  align-content: start;
  margin-top: 20px;
  box-shadow: 6px 0 8px -6px rgba(0, 0, 0, 0.15) inset;
  .form-control.lesson {
    width: 25rem;
    border: 1px solid #EBEBEB;
    border-radius: 1%;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    font-weight: lighter;
    margin-bottom: 20px;
  }
  .search-submit-lesson input {
    text-decoration: none;
    border: none;
    padding: 6px 12px;
    font-size: 18px;
    line-height: 1.42857;
    font-weight: lighter;
    color: white;
    background-color: rgba(202, 120, 103, 0.8);
    border-radius: 1%;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    text-decoration: none;
    letter-spacing: .1rem;
    margin-bottom: 20px;
  }
  .dropbtn-lesson {
    background-color: rgba(202, 120, 103, 0.8);
    border: none;
    font-weight: lighter;
    color: white;
    padding: 6px 12px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    text-decoration: none;
    letter-spacing: .1rem;
    border-radius: 1%;
  }
}

.main-container {
  margin: 20px 0px 20px 0px;
}

.list-carrousel {
  justify-content: center;
}

.slick-track{
  opacity: 1 !important;
  margin-top: 8px;
}

.list-carrousel.slick-initialized.slick-slider {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
}

.slick-prev:before {
  color: #DAD5DA !important;
  font-size: 30px !important;
}

.slick-next:before {
  color: #DAD5DA !important;
  font-size: 30px !important;
}

.slick-slide.slick-current.slick-active{
  margin-left: auto;
  margin-right: auto;
}

.slick-slide img {
  margin-right: auto;
  margin-left: auto;
}

.main-container{

  h3 {
    text-align: center;
    span {
      border-bottom: solid 1px;
    }
  }
}


/*-------------------*/

.dropbtn {
  border: none;
  cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  margin-left: 24px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  width: 90%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  margin-left: 20px;

}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
// .dropdown:hover .dropbtn {
//   background-color: rgba(160,160,160,0.5);
// }

.list-carrousel img {
  height: 300px;
  border-radius: 1%;
}
