<div class="banner">
  <div class="split">
    <a href="/products" class="split-item is-shop">
      <h1 class="split-title">La Boutique</h1>
      <div class="split-info">
        <p>Acheter des produits faits main.</p>
        <%= link_to 'La Boutique', products_path(@products), class: 'btn' %>
      </div>
    </a>
    <a href="/products" class="split-item is-atelier">
      <h1 class="split-title">L'Atelier'</h1>
      <div class="split-info">
        <p>Apprenez à faire de la poterie.</p>
        <%= link_to "L'Atelier", products_path(@products), class: 'btn' %>
      </div>
    </a>
  </div>
</div>
