<div class="banner">
  <div class="split">
      <div class="split-item is-shop">
        <h1 class="split-title">La Boutique</h1>
        <p>Des produits faits à la main.</p>
        <%= link_to "Visiter", "http://www.tessaguilbaud.fr/", target: "_blank", rel: "nofollow", class: 'button-banner' %>
      </div>
    </a>
    <div class="split-line"></div>
    <a href="/lessons">
      <div class="split-item is-atelier">
        <h1 class="split-title">L'Atelier</h1>
        <p>Apprenez à faire de la poterie.</p>
        <%= link_to "Visiter", lessons_path(@lessons), class: 'button-banner' %>
      </div>
    </a>
  </div>
</div>
