<div class="banner2">
<!--   <div class="banner2-content"> -->
    <div class="your-class">
      <div>your content</div>
      <div>your content</div>
      <div>your content</div>
    </div>
  <!-- </div> -->
</div>


