<div class="banner">
  <div class="split">
    <h1 class="banner-main-title">Créer avec l'argile</h1>
    <button class="discover">Découvrir</button>
    <div class="news"><p><span class="quote">"</span><br>Sur le "chemin de la terre à l'objet", je propose des situtations de modelage adaptées à la personne. Car chacun se trouve à une étape du chemin de la création, capable d'évoluer pour en découvrir d'autres. <strong>-T.G-</strong><br><span class="quote end">"</span></p></div>
  </div>
</div>
