<div class="banner">
  <div class="split">
    <a href="/products">
      <div class="split-item is-shop">
        <h1 class="split-title">La Boutique</h1>
        <p>Des produits faits à la main.</p>
        <%= link_to 'La Boutique', products_path(@products), class: 'button btn-ghost' %>
      </div>
    </a>
    <div class="split-line"></div>
    <a href="/products">
      <div class="split-item is-atelier">
        <h1 class="split-title">L'Atelier</h1>
        <p>Apprenez à faire de la poterie.</p>
        <%= link_to "L'Atelier", products_path(@products), class: 'button btn-ghost' %>
      </div>
    </a>
  </div>
</div>
