<div hidden id='cgv-wrapper' >
  <div class='popup-cgv-wrapper'>
    <div class='popup-cgv-container'>
      <h4>Condition général de vente</h4>
      <br>
      <p style='font-size: 14px; font-weight: 300'>Après avoir effectué une réservation en ligne ou réalisé une inscription à  l'atelier en versant un acompte, vous avez une semaine pour annuler votre achat. Ce délai passé aucun remboursement ne pourra être envisagé. Toute année, semestre ou trimestre commencé ne peut être remboursé.</p>
      <br>
      <div id='cgv-dismiss'>OK</div>
    </div>
  </div>
</div>
