<div class="events-index">
  <ul>
    <li>
      <%= link_to '> Gérer les events', events_path  %>
    </li>
    <br>
    <li>
      <%= link_to '> Ajouter un event', new_event_path  %>
    </li>
    <br>
    <li>
      <%= link_to '> Ajouter un cours', new_lesson_path  %>
    </li>
    <br>
    <li>
      <%= link_to '> Dashboard', purchases_index_path  %>
    </li>
  </ul>
</div>
