<div class="footer">
  <div class="footer-ouverture">
    <h5>HORAIRES</h5>
    <p>Lundi: Fermé</p>
    <p>Mardi: 18:00-22:00</p>
    <p>Mercredi: 10:00-13:30, 20:00-22:00</p>
    <p>Jeudi: 10:00-19:00</p>
    <p>Vendredi: 10:00-19:00</p>
    <p>Samedi: 10:00-19:00</p>
  </div>
  <div class="footer-location">
    <h5>LOCALISATION</h5>
    <a href="https://www.google.com/maps/place/Atelier+-+boutique+De+la+Terre+%C3%A0+l'Objet./@48.8909738,2.3442007,17z/data=!3m1!4b1!4m5!3m4!1s0x47e66e5de5c4c9bd:0x7f3bfc3292d84922!8m2!3d48.8909738!4d2.3463894" target="_blank"><p class="localisation"><i class="fas fa-map-marker-alt"></i> 8 rue Eugène Süe</p></a>
    <p>75018 Paris</p>
  </div>
  <div class="footer-menu">
    <h5>MENU</h5>
    <a href="/" class="menu-links-footer"><p>Accueil</p></a>
    <a href="/products" class="menu-links-footer"><p>Tous les produits</p></a>
    <a href="/lessons" class="menu-links-footer"><p>Tous les ateliers</p></a>
  </div>
  <div class="footer-contact">
    <h5>CONTACT</h5>
    <p>Tessa Guilbaud</p>
    <p class="phone-number">06 63 48 79 81</p>
    <p>Email</p>
    <h5>Réseaux Sociaux</h5>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
</div>
