<div class="footer">
  <div class="footer-wrapper">
    <div class="footer-ouverture">
      <h5>HORAIRES</h5>
      <p>Lundi: Fermé</p>
      <p>Mardi: 18:00-22:00</p>
      <p>Mercredi: 10:00-13:30, 20:00-22:00</p>
      <p>Jeudi: 10:00-19:00</p>
      <p>Vendredi: 10:00-19:00</p>
      <p>Samedi: 10:00-19:00</p>
    </div>
    <div class="footer-location">
      <h5>LOCALISATION</h5>
      <p>8 rue Eugène Süe</p>
      <p>75018 Paris</p>
      <p>France</p>
      <a href="https://www.google.com/maps/place/Atelier+-+boutique+De+la+Terre+%C3%A0+l'Objet./@48.8909738,2.3442007,17z/data=!3m1!4b1!4m5!3m4!1s0x47e66e5de5c4c9bd:0x7f3bfc3292d84922!8m2!3d48.8909738!4d2.3463894" target="_blank"><p class="localisation"><i class="fas fa-map-marker-alt"></i> Afficher le plan</p></a>
    </div>
    <div class="footer-menu">
      <h5>MENU</h5>
      <a href="/" class="menu-links-footer"><p>Accueil</p></a>
      <p class="menu-links-footer" id="select-planning">Planning</p>
      <a href="/lessons" class="menu-links-footer"><p>Tous les ateliers</p></a>
      <a href="/teachings" class="menu-links-footer"><p>Pédagogie</p></a>
      <p class="menu-links-footer" id="select-cgv">CGV</p>
    </div>
    <div class="footer-contact">
      <h5>CONTACT</h5>
      <p>Tessa Guilbaud</p>
      <p class="phone-number">06 63 48 79 81</p>
      <p class="email">contact@delaterrealobjet.fr</p>
      <!-- <h5>Réseaux Sociaux</h5> -->
      <a href="https://www.instagram.com/tessa_guilbaud/"><i class="fab fa-instagram"></i></a>
      <a href="https://www.facebook.com/delaterrealobjet/"><i class="fab fa-facebook"></i></a>
  <!--     <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-linkedin"></i></a> -->
    </div>
  </div>
  <br>
  <hr style="border-top: 1px solid rgba(0,0,0,0.1); width: 20%">
  <div class="footer-credit">
    <p>Ateliers De La Terre à l'Objet | Tous droits réservés | Conception du site web : <a href="https://www.linkedin.com/in/augustin-cousin-39671088/" class="link footer-link">Augustin  Cousin</a> | Crédits photos : Karine Rukhlia & Marie-Emilie Prevost & Tessa Guilbaud</p>
  </div>
</div>


