<header id="header" class="header is-absolute header--light">
  <div class="logo">
    <a class="logo__link" href="/"></a>
  </div>
  <nav id="menu-dimissable" class="menu">
    <ul class="custom_navbar_menu_list">
      <li id="sezaneMenu_rptMenu_liMenu_0" class="menu__product__item">
      <a id="sezaneMenu_rptMenu_hlMenu_0" class="menu__product__link" href="/lessons">Ateliers</a></li>
      <li id="sezaneMenu_rptMenu_liMenu_0" class="menu__product__item">
      <a id="sezaneMenu_rptMenu_hlMenu_0" class="menu__product__link" href="/lessons?query6=true">Bons cadeaux</a></li>
      <li id="sezaneMenu_rptMenu_liMenu_0" class="menu__product__item">
      <span id="select-planning-nav" class="menu__product__link" href="/lessons?query6=true">Planning</span></li>
      <% if user_signed_in? %>
        <li id="sezaneMenu_rptMenu_liMenu_0" class="menu__product__item">
          <a id="sezaneMenu_rptMenu_hlMenu_0" class="menu__product__link" href="/cart_items" style="position: relative; text-align: center">
            Panier
              <% if @cart_items.count != 0 %>
                <span class="notification-count"><%= @cart_items.count %></span>
              <% end %>
          </a>
        </li>
      <% else %>
        <li id="sezaneMenu_rptMenu_liMenu_0" class="menu__product__item">
          <a id="sezaneMenu_rptMenu_hlMenu_0" class="menu__product__link" href="#" style="cursor: not-allowed">Panier</a>
        </li>
      <% end %>
    </ul>
  </nav>
  <div class="shopping-nav" id="openNav" onclick="w3_open()"></div>
</header>
