<header id="header" class="header is-absolute header--light">
  <div class="logo">
    <a class="logo__link" href="/"><strong>De la Terre à l'Objet</strong></a>
  </div>
  <nav class="menu">
    <ul class="menu__product__list">
    <% if user_signed_in? %>
      <li id="sezaneMenu_rptMenu_liMenu_0" class="menu__product__item">
      <a id="sezaneMenu_rptMenu_hlMenu_0" class="menu__product__link" href="https://tessaguilbaud.jimdo.com/points-de-vente/" target="_blank">Boutique</a></li>
      <li id="sezaneMenu_rptMenu_liMenu_0" class="menu__product__item">
      <a id="sezaneMenu_rptMenu_hlMenu_0" class="menu__product__link" href="/lessons">Cours</a></li>
<!--       <li id="sezaneMenu_rptMenu_liMenu_0" class="menu__product__item">
      <a id="sezaneMenu_rptMenu_hlMenu_0" class="menu__product__link" href="/products/new">Ajouter un produit</a></li> -->
      <li id="sezaneMenu_rptMenu_liMenu_0" class="menu__product__item">
      <a id="sezaneMenu_rptMenu_hlMenu_0" class="menu__product__link" href="/cart_items">Panier</a></li>
    </ul>
  </nav>
  <div class="shopping-nav">
    <div class="header-item">
      <div class="dropdown">
        <%= image_tag "home.png", class: "avatar dropdown-toggle", id: "header-menu", "data-toggle" => "dropdown" %>
        <ul class="dropdown-menu dropdown-menu-right header-dropdown-menu">
          <li>
            <%= link_to destroy_user_session_path, method: :delete do %>
              <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
            <% end %>
          </li>
        </ul>
      </div>
    </div>
    <% else %>
      <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "header-item header-link" %>
    <% end %>
  </div>
</header>
