<div class="lessons-overview background1">
  <div class="overview-content">
    <div class="content-switch">
      <h3>HEllO world</h3>
      <p>L'empreinte des doigts laisse l'émotion de la main sur la surface du bol. La trace du fil, laisse un signe sur la plaque déchirée. Cassure et brisure font jubiler.<br></p>
      <a href="/lessons"><button class="button-infos">En savoir +</button></a>
    </div>
  </div>
  <div class="overview-selectors">
    <div class="overview-button"><p>Cours enfants</p></div>
    <div class="overview-button"><p>Cours adultes</p></div>
    <div class="overview-button"><p>Découverte</p></div>
    <div class="overview-button"><p>Atelier libre</p></div>
    <div class="overview-button"><p>Spéciaux*</p></div>
    <div class="empty"></div>
  </div>
</div>
