<div class="lessons-overview background1">
  <div class="overview-content">
    <div class="content-switch">
      <h3>Cours enfants</h3>
      <p>Description du cours .... ....... .... ......</p>
      <a href="/lessons"><button class="button-infos overview">En savoir +</button></a>
    </div>
  </div>
  <div class="overview-selectors">
    <div class="overview-button"><p>Cours enfants</p></div>
    <div class="overview-button"><p>Cours adultes</p></div>
    <div class="overview-button"><p>Découverte</p></div>
    <div class="overview-button"><p>Atelier libre</p></div>
    <div class="overview-button"><p>Spéciaux*</p></div>
    <div class="empty"></div>
  </div>
</div>
