<div class="lessons-overview background5">
  <div class="overview-content">
    <div class="content-switch">
      <h3>Atelier Adultes</h3>
      <p>ADF ...</p>
    </div>
  </div>
  <div class="overview-selectors">
    <a href='/lessons?query3=true'>
    <div class="overview-button"><p>Adultes</p></div>
      </a>
    <a href='/lessons?query2=Découverte'>
      <div class="overview-button"><p>Découverte</p></div>
    </a>
    <a href='/lessons?query1=true'>
      <div class="overview-button upper"><p>Enfants</p></div>
    </a>
    <a href='/lessons?query4=Atelier libre'>
      <div class="overview-button"><p>Atelier libre</p></div>
    </a>
    <a href='/lessons?query5=Stage'>
      <div class="overview-button"><p>Stages</p></div>
    </a>
  </div>
    <div class="selector-arrow"><span>></span></div>
</div>
