<br>
<br>
<br>
<br>
<br>
<br>

<div class="tessa-wrapper">
  <div class="tessa-inner">
    <div>
      <h3>Parcours et demarche</h3>
    </div>
    <div id="cc-m-10178073971" class="j-module n j-hgrid ">
      <hr/>
    </div>
    <div>
      <figure>
        <img srcset="https://image.jimcdn.com/app/cms/image/transf/dimension=268x10000:format=jpg/path/s9461045924b4ef93/image/i26338d963f4dd5c2/version/1517160498/image.jpg 268w, https://image.jimcdn.com/app/cms/image/transf/dimension=320x10000:format=jpg/path/s9461045924b4ef93/image/i26338d963f4dd5c2/version/1517160498/image.jpg 320w, https://image.jimcdn.com/app/cms/image/transf/dimension=536x10000:format=jpg/path/s9461045924b4ef93/image/i26338d963f4dd5c2/version/1517160498/image.jpg 536w" sizes="(min-width: 268px) 268px, 100vw" id="cc-m-imagesubtitle-image-10178090371" src="https://image.jimcdn.com/app/cms/image/transf/dimension=268x10000:format=jpg/path/s9461045924b4ef93/image/i26338d963f4dd5c2/version/1517160498/image.jpg" alt="" class="" data-src-width="992" data-src-height="732" data-src="https://image.jimcdn.com/app/cms/image/transf/dimension=268x10000:format=jpg/path/s9461045924b4ef93/image/i26338d963f4dd5c2/version/1517160498/image.jpg"/>
      </figure>
    </div>
    <br>
    <br>
    <div>
      <p>
        Après un parcours en restauration de céramiques, j'ai pratiqué la mise en forme de l'argile pendant 15 ans en tant que passion en parallèle à mon activité professionnelle avant d'en faire mon
        métier exclusif depuis 2010.
      </p>

    <p>

    </p>

    <p>
        Je travaille sur le geste et son dialogue avec la matière. La trace et l'empreinte de la main sont pour moi sources d'innovation par l'inattendu et la surprise qu'elles provoquent.
    </p>

    <p>

    </p>

    <p>
        Je  mets les creux en forme sans tour, uniquement avec la main, parfois une balle, un bâton, mais le plus souvent au pincé, et à l'africaine pour les volumes plus importants.
    </p>

    <p>
        Pour les formes plates,  je casse, brise , déchire, toujours à la recherche de l'incontrôlé qui provoquera mon imagination .
    </p>

    <p>
        Le contraste motive mon travail des surfaces  : entre rugueux et  lisse, sombre et lumineux. C'est pourquoi j'associe surfaces brutes noires à l'extérieur et émaillées à l'intérieur
        pour les pièces creuses et le saupoudrage de terre en poudre ou morceaux  sur mes tableaux décoratifs pour apporter rugosité à l'émail luisant.
    </p>

    <p>

    </p>

    <p>
        Toujours en quête de l'inattendu je multiplie les superpositions d'émail de manière aléatoire  pour découvrir quel paysage le four aura bien voulu dessiner. Ainsi naît l'écume des assiettes,
        coupes et cocos  fonds marins.
    </p>

    <p>

    </p>

    <p>

    </p>

    </div>
  </div>
  <div class="tessa-inner">
    <div class="gallery-pic-wrapper">
      <div class="gallery-pic" id="gallery_thumb_6708218371" data-sort="0">


      <a data-href="https://image.jimcdn.com/app/cms/image/transf/none/path/s9461045924b4ef93/image/i4e6e560a2982c451/version/1547219820/image.jpg" data-title="" data-sort="0">
      <img src="https://image.jimcdn.com/app/cms/image/transf/dimension=682x2048:format=jpg/path/s9461045924b4ef93/image/i4e6e560a2982c451/version/1547219820/image.jpg" data-orig-width="1063" data-orig-height="1588" alt=""/>
      </a>        </div>
          <div class="gallery-pic" id="gallery_thumb_6708218571" data-sort="1">


      <a data-href="https://image.jimcdn.com/app/cms/image/transf/dimension=2048x2048:format=jpg/path/s9461045924b4ef93/image/i7534e3ee2b7350d3/version/1547219999/image.jpg" data-title="" data-sort="1">
      <img src="https://image.jimcdn.com/app/cms/image/transf/dimension=682x2048:format=jpg/path/s9461045924b4ef93/image/i7534e3ee2b7350d3/version/1547219999/image.jpg" data-orig-width="2048" data-orig-height="1371" alt=""/>
      </a>        </div>
          <div class="gallery-pic" id="gallery_thumb_6708223771" data-sort="2">


      <a data-href="https://image.jimcdn.com/app/cms/image/transf/none/path/s9461045924b4ef93/image/i96361373a70055fc/version/1547220363/image.jpg" data-title="" data-sort="2">
      <img src="https://image.jimcdn.com/app/cms/image/transf/dimension=682x2048:format=jpg/path/s9461045924b4ef93/image/i96361373a70055fc/version/1547220363/image.jpg" data-orig-width="1063" data-orig-height="1063" alt=""/>
      </a>        </div>
          <div class="gallery-pic" id="gallery_thumb_6708223871" data-sort="3">


      <a data-href="https://image.jimcdn.com/app/cms/image/transf/none/path/s9461045924b4ef93/image/if0b37455c017fc8c/version/1547220363/image.jpg" data-title="" data-sort="3">
      <img src="https://image.jimcdn.com/app/cms/image/transf/dimension=682x2048:format=jpg/path/s9461045924b4ef93/image/if0b37455c017fc8c/version/1547220363/image.jpg" data-orig-width="1063" data-orig-height="709" alt=""/>
      </a>        </div>

    </div>


    <p>
    <br>
        Mes dernières créations continuent à nous transporter dans les profondeurs marines, toujours par leurs couleurs mais aussi par leur forme.
    </p>

    <p>
        Les contenants s'affinent de plus en plus et leurs bords crénelés s'animent comme les algues de la mer.
    </p>

    <p>

    </p>

    <p>
        Je pousse la matière dans ses retranchements et frôle la brisure en amincissant la matière au maximum. A la cuisson haute température,  les parties les plus fines se déforment légèrement et
        donnent ainsi l'illusion du mouvement.
    </p>

    <div id="cc-m-10460340571" class="j-module n j-imageSubtitle ">
      <figure class="cc-imagewrapper cc-m-image-align-1">
        <img style="width: 100%" srcset="https://image.jimcdn.com/app/cms/image/transf/dimension=320x10000:format=jpg/path/s9461045924b4ef93/image/iae735204fab76342/version/1552848486/image.jpg 320w, https://image.jimcdn.com/app/cms/image/transf/dimension=498x10000:format=jpg/path/s9461045924b4ef93/image/iae735204fab76342/version/1552848486/image.jpg 498w, https://image.jimcdn.com/app/cms/image/transf/dimension=640x10000:format=jpg/path/s9461045924b4ef93/image/iae735204fab76342/version/1552848486/image.jpg 640w, https://image.jimcdn.com/app/cms/image/transf/dimension=960x10000:format=jpg/path/s9461045924b4ef93/image/iae735204fab76342/version/1552848486/image.jpg 960w, https://image.jimcdn.com/app/cms/image/transf/dimension=996x10000:format=jpg/path/s9461045924b4ef93/image/iae735204fab76342/version/1552848486/image.jpg 996w" sizes="(min-width: 498px) 498px, 100vw" id="cc-m-imagesubtitle-image-10460340571" src="https://image.jimcdn.com/app/cms/image/transf/dimension=498x10000:format=jpg/path/s9461045924b4ef93/image/iae735204fab76342/version/1552848486/image.jpg" alt="" class="" data-src-width="2362" data-src-height="1575" data-src="https://image.jimcdn.com/app/cms/image/transf/dimension=498x10000:format=jpg/path/s9461045924b4ef93/image/iae735204fab76342/version/1552848486/image.jpg" data-image-id="6737881871"/>
      </figure>
    </div>
  </div>
</div>
