<div class="cart-container" style="padding-top: 100px">
  <p>Nombre d'articles : <%= @carts.count %></p>
  <% @carts.each do |cart| %>
    <li><%= cart.product.name %>
    <%= link_to "supprimer", cart_path(cart), method: :delete %>
    </li>
  <% end %>
</div>
