<div class="gift-infos">
  <h1 class="main-title">
    <strong>Bons cadeaux</strong>
    <hr class="hr-title">
  </h1>
  <p style="max-width: 70%; margin-bottom: 40px;">Pour faire découvrir le modelage de l'argile à vos proches, voici des ateliers découverte <strong>"Bon cadeau"</strong>. Choisissez l'atelier souhaité et commandez le bon cadeau que vous recevrez par mail, après paiement en ligne.</p>
</div>
