<p>Horaires : </p>
<br>
<p>.......</p>
<br>
<p>Les prochaines dates : </p>
<ul style ="padding-left: 0px;">
  <% @lesson.slot.each do |slot|%>
    <li>
      <%= l(slot.to_date, :format => "%d %B %Y", :locale => 'fr') %>
    </li>
  <% end %>
</ul>
