<p>Horaires : </p>
<br>
<pre><%= @lesson.schedule %></pre>
<br>
<p>Les prochaines dates : </p>
<ul style ="padding-left: 0px;">
  <% if @lesson.slot.size > 1 %>
    <% @lesson.slot.each do |slot|%>
      <li>
      </li>
    <% end %>
  <% else %>
    <%= @lesson.slot[0] %>
  <% end %>
</ul>
