<div class="cart">
  <div class="quantity">
      <%= form_for(@cart_item) do |f|%>
        <%= f.select(:slot_id, Slot.where(lesson_id: @lesson.id).where("quantity > ?", 0).where('date > ?', Date.today).sort_by(&:date).map { |slot| [l(slot.date, :format => "%A %e %B %Y", :locale => 'fr') + " - #{slot.quantity} disponible(s)", slot.id]}, { include_blank: true }, { class: "form-control"}) %>
  </div>
  <div class="button">
        <%= hidden_field_tag :lesson, @lesson.id %>
        <%= f.submit "Ajouter au panier", class: "button-show" %>
      <% end %>
  </div>
  <div>
  </div>
</div>


<!-- html: { id: :flatpickr }  -->
