<div class="cart">
  <div class="quantity">
    <input type="number" max='<%= @lesson.quantity %>' min="1" step="1" value="1">
  </div>
  <div class="button">
      <button class="button-show-phone">Afficher le numéro</button>
  </div>
</div>
