/* -------------------------------------
 * Your CSS code for flash notices and alerts
* ------------------------------------- */

.alert {
  margin: 0;
  text-align: center;
  color: white;
}
.alert-info {
  background: $green;
}
.alert-warning {
  background: $red;
}

#alert {
  // z-index: 200;
  // color: white;
  // position: fixed;
  // bottom: 0;
  // padding-left: 16px;
  // width: 100%;
  // background: #0000008f;
  // margin: 0px;
  // height: 40px;
  // display: flex;
  // align-items: center;
  // border: none;
}

.close {
  position: initial !important;
  margin-right: 8px;
}

.popup-cgv-wrapper{
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  background: rgba(0,0,0,0.2);
  z-index: 20000000000;
  .popup-cgv-container{
    margin:auto;
    width: 280px;
    height: auto;
    border-radius: 4px;
    background: white;
    padding: 30px;
    text-align: center;
  }
  #cgv-dismiss{
    padding: 4px 8px;
    margin: auto;
    width: 48px;
    color: white;
    font-size: 14px;
    border-radius: 4px;
    background: $tessa;
  }
  #cgv-dismiss:hover{
    cursor: pointer;
    opacity: 0.8;
  }
}

.popup-planning-wrapper{
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  background: rgba(0,0,0,0.2);
  z-index: 20000000000;
  .popup-planning-container{
    margin:auto;
    border-radius: 4px;
    background: white;
    padding: 30px;
    text-align: center;
    img{
      height: auto;
      width: 90vw;
      max-height: 90vh;
      max-width: 800px;
    }
  }
}

.alert-text-red {
  color: $red;
  margin-top: 4px;
}


