/* -------------------------------------
 * Your CSS code for flash notices and alerts
* ------------------------------------- */

.alert {
  margin: 0;
  text-align: center;
  color: white;
}
.alert-info {
  background: $green;
}
.alert-warning {
  background: $red;
}

#alert {
  // z-index: 200;
  // color: white;
  // position: fixed;
  // bottom: 0;
  // padding-left: 16px;
  // width: 100%;
  // background: #0000008f;
  // margin: 0px;
  // height: 40px;
  // display: flex;
  // align-items: center;
  // border: none;
}

.close {
  position: initial !important;
  margin-right: 8px;
}
