.banner {
  box-shadow: inset 0 -4px 4px rgba(0,0,0,0.3);
  position: relative;
  color: black;
  // text-align: center;
  height: 550px;
  display: flex;
  background-attachment: fixed !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover !important;
  background: linear-gradient(0deg,
              rgba(10,10,10,0.3) 0%,
              rgba(10,10,10,0.3) 100%),
              url('https://res.cloudinary.com/dw7nokc0j/image/upload/c_crop,g_north,h_2000,w_3872,x_0,y_715/v1555321849/atelier_ceramique_nb.jpg');
  top: -15px;
}

.banner a {
  color: black;
}

p.opacity, button.opacity, .banner-main-title.opacity {
  opacity: 0 !important;
  transition: opacity .25s linear;
}

.split-item {
  padding-top: 100px;
  transition: transform .4s;
  opacity: 0.95;
}

.split-item:hover {
  transform: scale(1.05);
  transition: 0.6s;
  opacity: 1;
}
.split-line {
  // width: 1px;
  // border-right: solid 0.5px;
  // height: 50vh;
  // border-color: rgba(0, 0, 0, 0.5);
}

// .banner p {
//   font-size: 24px;
//   font-weight: lighter;
//   color: black;
//   opacity: 0.9;
//   margin-bottom: 30px;
// }

.banner h1 {
  font-size: 38px;
  opacity: 0.8;
}

.banner2 {
  color: black;
  // text-align: center;
  height: 50vh;
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(161, 140, 135, 0.4);
  top: 0;
}

.btn {
  border: 2px solid black;
  border-radius: 2px;
  padding: 15px 30px;
}

.split {
  position: relative;
  display: flex;
  flex-direction: column;
  top: 0;
  left: 0;
  width: 100%;
  // height: 64vh;
  overflow: hidden;
  // text-align: center;
  color: black;
  display: flex;
  -webkit-box-align: center;
  align-items: center;

  h1{
    position: initial;
    margin: 150px auto 0px auto !important;
    color: white;
    font-size: 70px;
  }

  button {
    position: initial;
    margin: 10px auto;
    padding: 2px 2%;
    color: white;
    background: #e0b7b0;
    border-radius: 4px;
    border: none;
    font-size: 20px;
  }

}



.split-item {
  flex: 0 0 49.5%;
}

.btn-ghost {
  justify-content: center;
  border: thin solid black;
  background-color: transparent;
  color: black;
  width: 20%;
  text-align: center;
}
