.banner {
  color: white;
  text-align: center;
  height: 100vh;
  background-size: cover !important;
  display: flex;
  background-image: url('clay.png');
  top: 0;
}

.banner a {
  color: white;
}

.banner p {
  font-size: 25px;
  font-weight: lighter;
  color: rgb(255, 255, 255);
  opacity: 0.6;
  margin-bottom: 30px;
}

.banner2 {
  color: black;
  text-align: center;
  height: 50vh;
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(161, 140, 135, 0.4);
  top: 0;
}

.btn {
  border: 2px solid black;
  border-radius: 2px;
  padding: 15px 30px;
}
