.banner {
  color: black;
  text-align: center;
  height: 100vh;
  background-size: cover !important;
  display: flex;
  background-image: url('clay.png');
  top: 0;
}

.banner a {
  color: black;
}

.banner p {
  font-size: 25px;
  font-weight: lighter;
  color: black;
  opacity: 0.9;
  margin-bottom: 30px;
}

.banner h1 {
  font-size: 38px;
  opacity: 0.8;
  &:hover {
    font-size: 42px;
    opacity: 1;
  }
}

.banner2 {
  color: black;
  text-align: center;
  height: 50vh;
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(161, 140, 135, 0.4);
  top: 0;
}

.btn {
  border: 2px solid black;
  border-radius: 2px;
  padding: 15px 30px;
}

.split {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  text-align: center;
  color: black;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

.split-item {
  flex: 0 0 48%;
}

.btn-ghost {
  justify-content: center;
  border: thin solid black;
  background-color: transparent;
  color: black;
  width: 20%;
  text-align: center;
}
