.button-container {
  display: flex;
  align-items: center;
}

.btn-size {
  width: 250px;
  margin-left: auto;
  margin-right: auto;
}

.button-show {
  text-decoration: none;
  border: none;
  height: 42px;
  width: 100%;
  padding: 6px 12px;
  font-size: 18px;
  line-height: 1.42857;
  font-weight: lighter;
  color: white;
  background-color: rgba(202, 120, 103, 0.8);
  border-radius: 1%;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  text-decoration: none;
  letter-spacing: .1rem;
}

.button-banner {
  text-decoration: none;
  border: 1px solid black;
  height: 42px;
  width: 100%;
  padding: 6px 40px;
  font-size: 18px;
  line-height: 1.42857;
  font-weight: lighter;
  color: black;
  // background-color: rgba(202, 120, 103, 0.8);
  border-radius: 1%;
  // box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  text-decoration: none;
  letter-spacing: .1rem;
}
