.card-container {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: space-around;
  z-index: 10;
  padding: 0px 80px 20px 80px;
  background-color: transparent;
  width: 100%;
  }

.card-dispatch {
  width: 25%;
  display: flex;
  justify-content: center;
}

.card {
  margin: 14px;
  height: 400px;
  border-radius: 1%;
  width: 260px;
  margin: 3px;
  opacity: 1;
  background-size: cover;
  position: relative;
}

.main-container {
  margin: 0px 40px 20px 40px;
  display: flex;
}


.events {
  flex: 1;
  padding: 20px 0px 0px 16px;
  text-align: -webkit-center;
  max-height: 80vh;
  margin: 0px 0px 10px 20px;
  position: -webkit-sticky;
  position: sticky;
  top: 80px;
  .slider {
    padding: 8px 0px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background: white;
    // border: solid 0.5px #cecece75;
    margin-bottom: 10px;
    border-radius: 2px;
  }
  ul {
    padding: 0;
  }

  li {
    // border: solid 1px grey;
    // margin: 4px;
    // border-radius: 8px;
  }

  h3 {
    margin-top: 2px;
  }
  a {
    margin-top: 10px;
  }
  h4 {
    margin-bottom: 3.5px;
  }
}

.events.sticked {
  position: relative;
}

.card-container-lesson {
  flex: 3;
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: space-between;
  z-index: 10;
  background-color: transparent;
  width: 100%;
  padding-top: 20px;
  }


.card-dispatch-lesson {
  min-width: 250px;
  width: 32%;
  height: 400px;
  justify-content: center;
  margin: 4px 0px 20px 0px;
  background-size: cover;
  border-radius: 2px;
  padding: 10px;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card-lesson {
  width: 100%;
  height: 100%;
  margin: auto;
  position: relative;
}

.card-dash-lesson {
}

.card-lesson:hover {
  .card-infos-lesson {
    opacity: 1;
    transition: 0.4s;
  }
}

.card-content-lesson {
  height: 40%;
  width: 100%;
  z-index: 20;
  // padding: 0px 8px;
}

.card-content-lesson>p {
  color: grey;
  font-size: 15px;
}

.card-image-lesson {
  height: 60%;
  width: 100%;
  background-size: cover;
  background-image: url("enfants.jpg") !important;
}

.lesson-infos {
  background-image: url(info.svg);
  background-size: cover;
  height: 24px;
  width: 24px;
  position: absolute;
  bottom: 3px;
  right: 3px;
  z-index: 30;
}


@keyframes infoUp {
  0% {
  }
  100% {
  background-image: url("info2.svg");
  background-position-y: -24px;
  }
}

@keyframes infoDown {
  0% {
  }
  100% {
  background-image: url("info.svg");
  background-position-y: 24px;
  }
}


.card-deploy-lesson {
  position: relative;
}
.card-dash {
  height: 400px;
  border-radius: 1%;
  flex: 0 0 32%;
  margin: 3px;
  opacity: 1;
  background-size: cover;
  position: relative;
}

.card:hover {
  .card-infos {
    opacity: 1;
    transition: 0.4s;
  }
}


.card-wrapper-teaching {
  overflow: hidden;
  width: 100%;
  min-height: 80vh;
  ul {
    // display: -webkit-inline-box;
    width: 100%;
    // transform: translate(-100vw, 0px);
  }
}

.card-dispatch-teaching {
  min-height: 60vh;
  width: 100% !important;
  text-align: center;
}

.sliding-teachings {
  transform: translate(-100vw, 0px);
}
