.footer {
  background: $tessa;
  min-height: 300px;
  padding: 30px 30px 40px 30px;
  width: 100%;
  bottom: 0;
  color: white;
  display: flex;
}

.footer-wrapper {
  width: 100%;
  margin: auto;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  h5 {
    font-size: 20px !important;
    margin: 10px 0px !important;

  }
  p {
    font-size: 16px;
    margin: 0 !important;
  }
}

.footer-credit {
  padding: 10px 60px 10px 60px;
  text-align: center;
  font-size: 12px;
  margin: auto;
  background: white;
  p {
    max-width: 700px;
    margin: auto;
    margin-bottom: 0px;
  }
}

.link.footer-link{
  color: black !important;
}

.link.footer-link:hover{
  opacity: 0.5,
}


.footer-location, .footer-menu, .footer-contact, .footer-ouverture {
  h5 {
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 10px !important;
  }
}

.footer-logo {
  padding: 12px;
  width: 25%;
  img {
    height: 80px;
  }
  @media (max-width: 1024px) {
    display: none;
  }
}

.footer-ouverture {
  width: 25%;
}

.footer-menu {
  width: 25%;
  p:hover {
  text-decoration: underline;
  }
}

.menu-links-footer {
  color: white !important;
}

  .footer-contact {
    text-align: -webkit-left;
  }

  .footer-ouverture {
    text-align: -webkit-right;
  }

  .footer-location, .footer-menu {
    text-align: -webkit-center;
  }

.footer-location {
  width: 25%;

}

.footer-contact {
  width: 25%;
}


.footer-contact > a {
  color: white;
  opacity: 1;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 5px;
  margin-top: 10px;
}
.footer-contact a:hover {
  opacity: 0.5;
}
.footer .fa-heart {
  color: white;
}

.localisation {
  color: white !important;
  display: inline-block;
  font-weight: 600;
  i {
  }
}

.localisation:hover {
  .fa-map-marker-alt {
    color: white;
  }
}

.phone-number {
  color: white;
}

p.email {
  color: white;
  font-size: 14px;
}

#select-cgv:hover, #select-planning:hover{
  cursor: pointer;
}

.fa-instagram, .fa-facebook {
  color: white;
}
