.footer {
  background: #EBEBEB;
  min-height: 200px;
  padding: 30px 60px;
  width: 100%;
  bottom: 0;
  color: rgba(0,0,0,0.3);

}

.footer-credit {
  padding: 30px 60px 0px 60px;
  text-align: center;
  font-size: 14px;
  max-width: 900px;
  margin: auto;
}

.link.footer-link{
  color: rgba(0,0,0,0.3) !important;
}

.link.footer-link:hover{
  opacity: 0.5,
}

.footer-wrapper {
  // background: #F4F4F4;
  // position: absolute;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  h5 {
    font-size: 20px !important;
    margin: 10px 0px !important;

  }
  p {
    font-size: 16px;
    margin: 0 !important;
  }
}

.footer-location, .footer-menu, .footer-contact, .footer-ouverture {
  h5 {
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 10px !important;
  }
}

.footer-ouverture {
  width: 25%;
}

.footer-menu {
  width: 25%;
  p:hover {
  text-decoration: underline;
  }
}

.menu-links-footer {
  color: rgba(0,0,0,0.3) !important;

}

  .footer-contact {
    text-align: -webkit-right;
  }

  .footer-location, .footer-menu {
    text-align: -webkit-center;
  }

.footer-location {
  width: 25%;

}

.footer-contact {
  width: 25%;

  // h5 {
  //   font-size: 20px !important;
  // }
}


.footer-contact a {
  color: black;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 5px;
  margin-top: 10px;
}
.footer-contact a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: #D23333;
}

.localisation {
  color: rgba(0,0,0,0.3) !important;
  display: inline-block;
  font-weight: 600;
  i {
  }
}

.localisation:hover {
  .fa-map-marker-alt {
    color: rgb(107, 160, 244);
  }
}

.phone-number {
  color: rgba(0,0,0,0.3);
}

.email {
  color: rgba(0,0,0,0.3);
  font-size: 14px;
}
