.new-row-form {
  margin: 10px;
}

// .text-right {
//   font-size: 14px;
//   padding: 0px;
// }

.text-left {
  font-size: 14px;
  padding: 0px 15px;
}

input {
  width: 100%;
}

label {
  width: 100%;
}
