/* Main navbar */
header {
  display: flex;
  -webkit-box-align: end;
  align-items: flex-end;
  border-left: 6.4rem solid transparent;
  border-right: 6.4rem solid transparent;
  z-index: 111;
}

header.is-absolute {
  // position: absolute;
  height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.header--light {
  color: black;
}

.header-item {
    padding-bottom: 6px;
}

#header-menu {
  margin-bottom: 8px;
}
.header.is-absolute {
  z-index: 30000;
  border-left-width: 20px;
  border-right-width: 20px;
  background: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: height .4s linear, background .4s linear;
  span {
    font-weight: 100 !important;
    color: black !important;
  }
}

.menu__product__item {
  a {
    color: black !important;
  }
}

.custom_navbar_menu_list{
  display: inline-flex;
}

.logo {
  display: flex;
  width: 40%;
  justify-content: flex-start;
  margin: auto 0px;
  padding-bottom: .2rem;
  font-size: 3rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
}

.menu__product__link.transparent {
  color: white;
  transition: color .4s linear;
}

.logo__link {
  display: inline-block;
  height: 50px;
  background: url("https://res.cloudinary.com/dw7nokc0j/image/upload/v1554391419/LogoMarron.png");
  background-size: cover;
  height: 50px;
  width: 124px;
  transition: height .4s linear, width .4s linear, background .4s linear;
}


.header.is-absolute.transparent {
  height: 100px;
  border-left-width: 20px;
  border-right-width: 20px;
  background: transparent;
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0.1);
  transition: height .4s linear;
  span {
    font-weight: 600 !important;
    color: white !important;
  }
}

.menu__product__item.transparent {
  a, p {
    color: white !important;
    font-weight: 600;
    transition: color .4s linear;
  }
}

.menu__product__item.transparent:before, .menu__product__item.transparent:after {
  color: white !important;
  transition: color .4s linear;
}

.logo.transparent {
  display: flex;
  width: 40%;
  justify-content: flex-start;
  margin: auto 0px;
  padding-bottom: .2rem;
  font-size: 3rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
}

.logo__link.transparent {
  display: inline-block;
  background: url("https://res.cloudinary.com/dw7nokc0j/image/upload/v1555323674/LogoBlanc.png");
  background-size: cover;
  height: 80px;
  width: 200px;
  transition: height .4s linear, width .4s linear, background .4s linear;
}

.burger-phone {
  display: none;
  width: 240px;
}

.header-item {
  margin: auto;
}

.menu {
  display: flex;
  -webkit-box-pack: center;
  justify-content: flex-end;
  -webkit-box-align: baseline;
  align-items: baseline;
  width: 80%;
  // margin-top: 1rem;
  // margin-bottom: 1rem;
  padding-bottom: .2rem;
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  transition: color .4s linear;
  margin: auto
}

.dropbtn {
  border: none;
  cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.shopping-nav {
  position: relative;
  display: inline-block;
  background-image: url('https://res.cloudinary.com/dw7nokc0j/image/upload/v1555404696/settings_2.png');
  background-size: cover;
  height: 31px;
  width: 39px;
  img {
    opacity: 0;
    height: 30px;
  }
}

.shopping-nav.transparent {
  position: relative;
  display: inline-block;
  margin-left: 20px;
  background-image: url('https://res.cloudinary.com/dw7nokc0j/image/upload/v1555404701/settings_1.png');
  background-size: cover;
  height: 31px;
  width: 39px;
  margin-bottom: 37px;
  img {
    opacity: 0;
    height: 30px;
  }
  a.header-item.header-link {
    // color: white !important;
  }
}

  .notification-count.burger.dropdown {
    visibility: hidden;
  }

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  width: 90%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  margin-left: 20px;
}

li.fa-custom {
  width: 100%;
  height: 48px;
  display: flex;
  a {
    height: 100%;
    width: 100%;
    padding: 15px 0px 15px 24px;
  }
}

.fa.fa-custom {
  // padding: 8px 40px 8px 0px !important;
  border-bottom: solid 0.5px rgba(160,160,160,0.5);
}

.fa.fa-sign-out:hover {
  opacity: 0.7;
}

a.xl {
  font-size: 18px !important;
}

span.xl {
  font-size: 18px !important;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

.shopping-nav {
  // height: 100%;
  margin: auto 0px auto 20px;
  display: flex;
  -webkit-box-pack: end;
  // justify-content: flex-end;
  // width: 5%;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: .2rem;
  transition: color .4s linear;
  cursor: pointer;
  width: 38px;
}

.link_sign_out {
  color: black !important;
}

header a {
  color: white;
}

a:-webkit-any-link {
  cursor: pointer;
}

a, a:active, a:hover {
  text-decoration: none;
}

.menu__product__list {
  display: flex;
  margin-right: 1.3rem;
}

.menu_product_item {
  display: flex;
  margin-right: 1.3rem;
}

.menu__product__item:first-child:before {
    margin-right: .7rem;
}
.menu__product__item:before {
    content: ".";
    color: black;
    position: relative;
    top: -1px;
    margin-right: 1.3rem;
}

.menu__product__item:last-child:after {
    content: ".";
    color: black;
    position: relative;
    top: -1px;
}

.header .is_absolute, .header .menu__product__link {
  font-family: "Font Name" !important;
  white-space: nowrap;
  font-size: 2rem !important;
}

.menu__product__link {
  position: relative;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  margin-right: 1.3rem;
}

ul {
  list-style: none;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

li {
  text-align: -webkit-match-parent;
  font-size: 1.4rem;
}

.menu__product__link:before, .shopping-nav__link:before {
    content: "";
    position: absolute;
    bottom: -.3rem;
    left: 0;
    right: 0;
    width: 100%;
    height: 1px;
    background: currentColor;
    -webkit-transform: scaleX(0);
    -ms-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 100% 50%;
    -ms-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
    -webkit-transition: -webkit-transform .8s cubic-bezier(.19,1,.22,1);
    transition: -webkit-transform .8s cubic-bezier(.19,1,.22,1);
    -o-transition: transform .8s cubic-bezier(.19,1,.22,1);
    transition: transform .8s cubic-bezier(.19,1,.22,1);
    transition: transform .8s cubic-bezier(.19,1,.22,1),-webkit-transform .8s cubic-bezier(.19,1,.22,1);
}


#wishlist-number {
  background-color: #cfa568;
  border-radius: 50%;
  color: white;
  display: inline-block;
  min-width: 20px;
  letter-spacing: normal;
  text-align: center;
}

.w3-bar-item{
  width: 100%;
  height: 48px;
  display: block;
  padding: 8px 16px;
  text-align: left;
  border: none;
  white-space: normal;
  float: none;
  outline: 0;
  text-align: center;
  transition: width .4s;
}

#deltao-main{
  transition: width .4s;
}

.w3-container{
  position: fixed;
  right: 0;
  top: 0;
  height: 100vh;
  background: white;
  width: 180px;
  z-index: 100000000;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
  animation: animateleft 0.4s;
}

.w3-button{
  border: none;
  display: inline-block;
  padding: 8px 16px;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
  background-color: inherit;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
  height: calc(80px  - 16px);
  text-align: center;
  width: 100%;
}

.w3-button:hover{
  background: $tessa;
}

@keyframes animateleft{
  0% {
    right: -180px;
    opacity: 0.9;
  }
  100% {
    right: 0;
    opacity: 1;
  }
}
