<p>Bonjour cher(e) utilisateur,</p>

<p>Il semblerait que vous ayez oublié le mot de passe utilisé pour vous connecter à <strong>De la terre à l'objet</strong>, vous pouvez le réinitialiser en cliquant sur le lien ci-dessous. (Ce lien est valide pendant 6 heures)</p>

<p><%= link_to 'Mettre à jour mon mot de passe', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Ce n'est pas nécessaire ? Ignorez simplement ce mail.</p>
<p>Votre mot de passe restera inchangé si vous ne cliquez par sur le lien.</p>
